*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.textwrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 2;
}

.textbox {
  width: 100%;
  height: auto;
  padding: 48px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  color: white;
  background-color: rgba(34, 36, 39, 0.88);
  border: 5px solid black;
  box-shadow: inset 0 0 0 10px #000, inset 0 0 0 15px white, 0 0 100px 40px rgba(0, 0, 0, .5);
}

.textbox__speaker {
  font-style: normal;
  font-size: 40px;
  font-weight: 500;
  opacity: 0.4;
}

.textbox__paragraph {
  margin: 0;
  font-size: 32px;
  font-weight: 100;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-color: rgba(0,0, 0, .6);
  z-index: 1;
}

.battle.overlay {
  padding: 5vw;
  visibility: hidden;
}

.battle.overlay.active {
  visibility: visible;
}

.battle__wrapper {
  width: 100%;
  background: red;
  height: 100vh;
  padding: 5vw;
}

.battle__main {
  background-color: white;
}

.battle__header {
  color: white;
}